<div
  class="flex flex-row rounded-md bg-slate-700 p-3 shadow-xl"
  [ngClass]="{
    'border-4 border-dashed border-yellow-500': status === 'in progress'
  }"
>
  <button class="rounded-md bg-green-500 p-1" (click)="markDone(rLink)">
    Done
  </button>
  <a
    routerLink="/task/{{ rLink }}"
    class="relative left-3 grow text-white"
    [ngClass]="{ 'line-through decoration-orange-600 decoration-2': status === 'done' }"
    >{{ title }}</a
  >
  <div class="flex space-x-2">
    <button
      class="rounded-md bg-yellow-500 p-1"
      (click)="markInprogress(rLink)"
    >
      In progress
    </button>
    <button class="rounded-md bg-red-500 p-1" (click)="deleteTask(rLink)">
      Delete
    </button>
  </div>
</div>
